.appoinment-hero-bg{
    background-image: url(../../images/Chair-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
.calander{
    margin-bottom: -50px;
}
.innerContainer {
    padding: 20px 0px;
    background: white;
    box-shadow: 0px 0px 45px -2px #ded6d6;
}
.react-calendar{
    margin: 0;
}